{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}

{% block content %}
  <div class="wrapper">
    <section class="intro">
      <article class="header">
        <h1>
          {{intro.main}}
        </h1>
        <div class="header__sub">
          <p>{{intro.summary1}}</p>
          <p>{{intro.summary2}}
            <b>{{intro.price}}</b>
          </p>
          <a class="cta" href={{intro.buttonUrl}}>{{intro.buttonText}}</a>
        </div>
      </article>
      <aside class="hero"></aside>
    </section>
  </div>
{% endblock %}