{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}

{% block content %}
  <div class="wrapper">
    <section class="intro">
      <article class="header">
        <h1>
          {{intro.main}}
        </h1>
        <div class="header__sub">
          <p>{{intro.summary1}}</p>
          <p>{{intro.summary2}}
            <b>{{intro.price}}</b>
          </p>
          <div class="cta">
            <a class="cta__button" href={{intro.buttonUrl}}>{{intro.buttonText}}
            </a>
            {% include "partials/svg/arrow.svg" %}
          </div>
        </div>
      </article>
      <aside class="hero">
        {% include "partials/svg/light.svg" %}
        {% include "partials/svg/heat-left.svg" %}
        {% include "partials/svg/heat-right.svg" %}
      </aside>
    </section>
    <section class="companies">
      <p class="companies__text"> As seen in</p>
      <div class="companies-images"></div>
    </section>
  </div>
{% endblock %}