{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}

{% block content %}
  <div class="wrapper">
    <section class="intro">
      <article id="intro" class="header">
        <h1 class="intro__main">
          {{intro.main}}
        </h1>
        <div class="header__sub">
          <p class="intro__sub1">{{intro.summary1}}</p>
          <p class="intro__sub2">{{intro.summary2}}
            <b>{{intro.price}}</b>
          </p>
          <div class="cta">
            <a class="cta__button" href={{intro.buttonUrl}}>{{intro.buttonText}}
            </a>
            {% include "partials/svg/arrow.svg" %}
          </div>
        </div>
      </article>
      <aside class="hero">
        {% include "partials/svg/light.svg" %}
        {% include "partials/svg/heat-left.svg" %}
        {% include "partials/svg/heat-right.svg" %}
      </aside>
    </section>
    <section class="companies">
      <p class="companies__text">{{companies.text}}</p>
      <div class="companies__images">
        {% for img in companies.images %}
          <img class="companies__image" src={{img}} alt="">
        {% endfor %}
      </div>
    </section>
  </div>
{% endblock %}