// First up: config and functions
@import "config";

@import "reset";

// Global styles start
body {
  background: var(--white);
  color: var(--black);
  line-height: 1.5;
}

@mixin media-query-md {
  @media screen and (min-width: 37rem) {
    @content;
  }
}

@mixin media-query-lg {
  @media screen and (min-width: 62rem) {
    @content;
  }
}

@import "typography";

// Import blocks
@import "blocks/site-head";
@import "blocks/nav";

// Import utilities
@import "utilities/site-wrap";
@import "utilities/wrapper";
@import "utilities/auto-grid";
